@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

@font-face {
  font-family: "clash_grotesk";
  src: url("../fonts/clash-font/clashgrotesk-bold-webfont.woff2")
      format("woff2"),
    url("../fonts/clash-font/clashgrotesk-bold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "clash_grotesk";
  src: url("../fonts/clash-font/clashgrotesk-variable-webfont.woff2")
      format("woff2"),
    url("../fonts/clash-font/clashgrotesk-variable-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "clash_grotesk";
  src: url("../fonts/clash-font/clashgrotesk-semibold-webfont.woff2")
      format("woff2"),
    url("../fonts/clash-font/clashgrotesk-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "clash_grotesk";
  src: url("../fonts/clash-font/clashgrotesk-regular-webfont.woff2")
      format("woff2"),
    url("../fonts/clash-font/clashgrotesk-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "clash_grotesk";
  src: url("../fonts/clash-font/clashgrotesk-medium-webfont.woff2")
      format("woff2"),
    url("../fonts/clash-font/clashgrotesk-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "clash_grotesk";
  src: url("../fonts/clash-font/clashgrotesk-light-webfont.woff2")
      format("woff2"),
    url("../fonts/clash-font/clashgrotesk-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "clash_grotesk";
  src: url("../fonts/clash-font/clashgrotesk-extralight-webfont.woff2")
      format("woff2"),
    url("../fonts/clash-font/clashgrotesk-extralight-webfont.woff")
      format("woff");
  font-weight: 100;
  font-style: normal;
}
/* ?entry styles */
:root {
  /* !typography */
  --font-xsmall: 0.8em;
  --font-small: 1em;
  --font-medium: 1.25em;
  --font-large: 1.563em;
  --font-xlarge: 1.953em;
  --font-xxlarge: 2.441em;
  --font-3xlarge: 3.052em;
  --font-largest: 3.052em;

  /* !colors */
  --color-primary: #000;
  --color-secondary: #fff;
  --color-accent: #d5ff2c;
  --color-blue: #4e5ce5;

  /* !spacings */
  --spacing-xsmall: 0.618rem;
  --spacing-small: 1rem;
  --spacing-medium: 1.618rem;
  --spacing-large: 2.618rem;
  --spacing-xlarge: 4.236rem;
  --spacing-xxlarge: 6.854rem;
  --spacing-xxxlarge: 11.089rem;

  /* !Animation easing */
  --animation-easing: cubic-bezier(0, 0.99, 0.74, 1);

  /* !card-width */
  --main-card-width: 18.1%;

  /* !Font family */
  --font-family_primary: "Poppins", sans-serif;
  --font-family_falsebold: "clash_grotesk", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 0.9rem;
  font-family: var(--font-family_primary);
}
img {
  max-width: 100%;
}
h1,
h2 {
  font-family: var(--font-family_semibold);
}
.container {
  max-width: 1440px;
  margin-inline: auto;
}
@media only screen and (min-width: 800px) {
  :root {
    /* !typography */
    --font-xsmall: 0.75em;
    --font-small: 1em;
    --font-medium: 1.333em;
    --font-large: 1.777em;
    --font-xlarge: 2.369em;
    --font-xxlarge: 3.157em;
    --font-largest: 4.209em;

    /* !card-width */
    --main-card-width: 7.4%;
  }
  body {
    font-size: 1rem;
  }
}
/* ?end of entry styles */
/* ?Typography */
/* fs stands for font-size */
.fs_xsmall {
  font-size: var(--font-xsmall);
  line-height: 1.4;
}
.fs_small {
  font-size: var(--font-small);
  line-height: 1.4;
}
.fs_medium {
  font-size: var(--font-medium);
  line-height: 1.3;
}
.fs_large {
  font-size: var(--font-large);
  line-height: 1.1;
}
.fs_xlarge {
  font-size: var(--font-xlarge);
  line-height: 1.1;
}
.fs_xxlarge {
  font-size: var(--font-xxlarge);
  line-height: 1;
}
.fs_3xlarge {
  font-size: var(--font-3xlarge);
  line-height: 1;
}
.fs_largest {
  font-size: var(--font-largest);
  line-height: 1;
}
/* ?end of Typography */
/* ?Video Interaction on Hero */
#entry-video {
  width: 100%;
  max-height: 100vh;
  object-fit: cover;
}
.button-prev:hover,
.button-next:hover {
  color: var(--color-secondary);
}
.button-prev,
.button-next {
  position: absolute;
  color: var(--color-primary);
  background: none;
  border: none;
  z-index: 10;
  transform: translateY(-50%);
  transition: color 200ms ease-in-out;
  cursor: pointer;
  transform: translateY(-50%);
}
.button-next {
  inset: 50vh 1rem auto auto;
}
.button-prev {
  inset: 50vh auto auto 1rem;
}
/* ?End of Video Interaction on Hero */

/* ?Hero Section */
.button-enter {
  position: absolute;
  inset: auto 50% 10vh auto;
  transform: translateX(50%);
  padding: 1rem 3rem;
}
/* ?End of Hero Section */

/* ? beginning of footer */

footer {
  text-align: center;
  margin-top: var(--spacing-xxlarge);
  margin-bottom: var(--spacing-medium);
}
.footer-logo img {
  width: 200px;
  height: 200px;
}

#footer-address {
  font-size: var(--font-small);
}
#footer-cvr {
  font-size: var(--font-xsmall);
}
#footer-SoMe {
  display: flex;
  justify-content: center;
  margin-top: var(--spacing-medium);
  margin-bottom: var(--spacing-medium);
}
.footer-SoMe-container {
  display: flex;
  gap: 1rem;
  justify-items: center;
  align-items: center;
  margin: var(--font-small);
}
.footer-SoMe-container img {
  width: 2em;
}

@media screen and (max-width: 425px) {
  #footer-mobile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
  .footer-logo img {
    width: 20%;
    height: 20%;
  }

  #footer-nav-bar {
    display: grid;
    justify-items: start;
  }
  #footer-nav-bar a {
    margin: 0.5em;
  }
  #footer-SoMe {
    margin: 0;
  }
}
/* ?end of footer */

/* ?beginning of single artwork page  */

/* ?end of single artwork page  */

/* ?BEGINNING OF NAVBAR */

#navbar-section {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 1000;
}

#navbar-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-large);
}

.logo {
  max-width: 100px;
  min-width: 80px;
  width: 10vw;
  margin: var(--spacing-small);
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: var(--spacing-xxlarge);
}

#navbar a {
  text-decoration: none;
  color: var(--color-secondary);
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-start;
  width: 5rem;
  height: 10rem;
  cursor: pointer;
}

.menu-btn-burger {
  width: 3.1rem;
  height: 0.4rem;
  background: var(--color-secondary);
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
  content: "";
  position: absolute;
  width: 3.1rem;
  height: 0.4rem;
  background: var(--color-secondary);
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before {
  transform: translateY(-1rem);
}

.menu-btn-burger::after {
  transform: translateY(1rem);
}

/* menu button animation */
.menu-btn.open .menu-btn-burger {
  background: transparent;
}
.menu-btn.open .menu-btn-burger::before {
  transform: rotate(45deg);
}
.menu-btn.open .menu-btn-burger::after {
  transform: rotate(-45deg);
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

@media screen and (max-width: 1050px) {
  #navbar-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-small);
  }

  .logo {
    max-width: 100px;
    min-width: 60px;
    width: 10vw;
    margin: var(--spacing-small);
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: var(--spacing-xlarge);
  }
}

@media screen and (max-width: 700px) {
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: var(--spacing-large);
  }
}

@media screen and (max-width: 600px) {
  #navbar-section .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--spacing-small);
    transform: translateY(20%);
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    list-style: none;
    gap: var(--spacing-large);
  }

  .logo {
    transform: translateY(-50%);
  }

  .menu-btn {
    height: 2.2rem;
  }
}

/* ?END OF NAVBAR */
/* ?Beginning of sign-up form */
.signupContainer {
  margin: auto;
  column-gap: var(--spacing-medium);
  max-width: 760px;
}
.ctaHeader {
  color: var(--color-secondary);
  font-size: var(--font-xxlarge);
  font-family: var(--font-family_falsebold);
  font-weight: 600;
  text-align: center;
  min-width: 100%;
  /* font-family: "Clash Grotesk", sans-serif; */
  /* font-weight: 600; */
}
.ctaBody {
  padding-top: 2em;
  padding-bottom: 0.5em;
  color: var(--color-secondary);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: var(--font-xsmall);
  text-transform: uppercase;
  text-align: center;
}
.signupForm-content {
  margin: var(--spacing-medium);
}
.signupForm {
  padding: var(--spacing-small);
  background-color: var(--color-primary);
}
.signupForm input:nth-child(2) {
  margin-bottom: 5%;
  height: 3rem;
  width: 100%;
  font-family: "Poppins", sans-serif;
}
/* MAILCHIMP FORM STYLING BEGINS**** */
.emailaddress {
  color: var(--color-secondary);
  font-size: var(--font-xsmall);
}
#mce-success-response {
  color: var(--color-secondary);
  font-size: var(--font-xsmall);
}
#mc-embedded-subscribe {
  height: 4rem;
  transition: 0.15s ease-in-out;
}
#mce-EMAIL {
  transition: ease-in-out 0.2s;
}
#mce-EMAIL:focus {
  transform: scale(0.97);
}
.signupForm input:focus {
  border: solid 4px var(--color-blue);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
}

.mce_inline_error {
  font-size: var(--font-xsmall);
}
/* MAILCHIMP STYLING ENDS */

.emailFlex {
  display: flex;
  flex-direction: column;
  padding-top: var(--spacing-large);
}

@media only screen and (min-width: 485px) {
  .signupForm input {
    width: 100%;
  }
}
@media only screen and (min-width: 799px) {
  .signupImage {
    display: block;
  }
}
/* ?End of sign-up form  */
/* ?Exhibition-slider */
.cards-wrapper {
  padding: 1rem;
  height: 50vh;
}
.cards {
  width: 100%;
  height: 100%;
  position: relative;
}
.card {
  border: 1px solid var(--color-primary);
  position: absolute;
  top: 50%;
  aspect-ratio: 7/8;
  transform: translateY(-50%);
  transition: transform 200ms var(--animation-easing),
    box-shadow 200ms var(--animation-easing), left 200ms var(--animation-easing),
    width 200ms var(--animation-easing), z-index 100ms var(--animation-easing);
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.--card-0 {
  width: calc((var(--main-card-width) * 2));
  z-index: 2;
  left: 0;
}
.--card-1 {
  width: calc(var(--main-card-width) * 3);
  z-index: 3;
  left: calc(var(--main-card-width));
}
.--card-2 {
  width: calc(var(--main-card-width) * 2);
  left: calc(var(--main-card-width) * 3);
  z-index: 2;
}
.--card-3 {
  width: calc(var(--main-card-width) * 1);
  right: 0;
  z-index: 1;
}
.--card-4,
.--card-5,
.--card-6 {
  display: none;
}

@media only screen and (min-width: 800px) {
  .cards-wrapper {
    padding: 4rem;
    height: 60vw;
  }
  .cards {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .card {
    border: 1px solid var(--color-primary);
    position: absolute;
    top: 50%;
    right: auto;
    display: block;
    perspective: 1000px;
    transform: translateY(-50%) scale(1) rotateY(0deg);

    cursor: pointer;
  }
  .card:hover {
    transform: translateY(-50%) scale(1.02) rotateY(30deg);
    box-shadow: 0px 5px 7px rgba(255, 0, 0, 0.1),
      0px 15px 25px rgba(255, 0, 0, 0.025), 0px 35px 30px rgba(255, 0, 0, 0.015);
  }
  .--card-0 {
    width: calc((var(--main-card-width) * 3));
    z-index: 3;
    left: 0;
  }
  .--card-1 {
    width: calc(var(--main-card-width) * 4);
    z-index: 4;
    left: calc(var(--main-card-width) * 1.5);
  }
  .--card-2 {
    width: calc(var(--main-card-width) * 5);
    left: calc(var(--main-card-width) * 3.5);
    z-index: 5;
  }
  .--card-3 {
    width: calc(var(--main-card-width) * 4);
    left: calc(var(--main-card-width) * 6.5);
    z-index: 4;
  }
  .--card-4 {
    width: calc((var(--main-card-width) * 3));
    left: calc(var(--main-card-width) * 9);
    z-index: 3;
  }
  .--card-5 {
    width: calc(var(--main-card-width) * 2);
    left: calc(var(--main-card-width) * 11);
    z-index: 2;
  }
  .--card-6 {
    width: calc(var(--main-card-width));
    right: 0;
    z-index: 1;
  }
}

/* ?End of exhibition slider */
/* ?Utilities */
.--display-none {
  display: none;
}
/* ?End of utilities */
/* beginning of single artwork page  */

#title_single_art {
  text-align: center;
  margin: 1em;
}
#image_single_art {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
#artists_name_single_art {
  margin-left: 10%;
  margin-top: 1em;
}
#origin_single_art {
  margin-left: 10%;
  margin-bottom: 2em;
}
#text_single_art {
  margin-left: 10%;
  margin-right: 10%;
}
#price_single_art {
  margin-left: 10%;
}
#spec_single_art {
  margin-left: 10%;
  margin-top: 1em;
}
@media screen and (min-width: 768px) {
  .container_1_single_art {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 5%;
    margin-right: 5%;
  }
  #artists_name_single_art {
    margin-top: 0;
  }
  .image_single_art {
    width: 100%;
  }
  #image_single_art {
    width: 100%;
  }
  #title_single_art {
    text-align: left;
    margin-left: 5%;
  }
}
/* end of single artwork page  */
/* ? beginning of contact page */
#title_contact {
  text-align: center;
}
.container_1_contact {
  margin: 10%;
}
#container_news_contact {
  border: solid #000 4px;
  background-color: aqua;
  margin: 5%;
}
#container_news_contact h1 {
  margin: 5%;
  text-align: center;
}
#container_news_contact p {
  margin: 5%;
}
#fake_news_contact {
  display: block;
  border: solid #000 4px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 5%;
  margin-right: 5%;
}
#map_contact {
  margin: 5%;
}
@media screen and (min-width: 768px) {
  #map_contact {
    display: flex;
    align-items: center;
  }
}

/* ? end of contact page */
