@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
/* ?entry styles */
:root {
  /* !typography */
  --font-xsmall: 0.8em;
  --font-small: 1em;
  --font-medium: 1.25em;
  --font-large: 1.563em;
  --font-xlarge: 1.953em;
  --font-xxlarge: 2.441em;
  --font-3xlarge: 3.052em;
  --font-largest: 3.052em;

  /* !colors */
  --color-primary: #000;
  --color-secondary: #fff;
  --color-accent: #000;

  /* !spacings */
  --spacing-xsmall: 0.618rem;
  --spacing-small: 1rem;
  --spacing-medium: 1.618rem;
  --spacing-large: 2.618rem;
  --spacing-xlarge: 4.236rem;
  --spacing-xxlarge: 6.854rem;
  --spacing-xxxlarge: 11.089rem;

  /* !Animation easing */
  --animation-easing: cubic-bezier(0, 0.99, 0.74, 1);

  /* !card-width */
  --main-card-width: 18.1%;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 0.9rem;
}
img {
  max-width: 100%;
}
h1 {
  font-family: "ClashGrotesk-Variable";
}
@media only screen and (min-width: 800px) {
  :root {
    /* !typography */
    --font-xsmall: 0.75em;
    --font-small: 1em;
    --font-medium: 1.333em;
    --font-large: 1.777em;
    --font-xlarge: 2.369em;
    --font-xxlarge: 3.157em;
    --font-largest: 4.209em;

    /* !card-width */
    --main-card-width: 7.4%;
  }
  body {
    font-size: 1rem;
  }
}
/* ?end of entry styles */
/* ?Typography */
/* fs stands for font-size */
.fs_xsmall {
  font-size: var(--font-xsmall);
  line-height: 1.4;
}
.fs_small {
  font-size: var(--font-small);
  line-height: 1.4;
}
.fs_medium {
  font-size: var(--font-medium);
  line-height: 1.3;
}
.fs_large {
  font-size: var(--font-large);
  line-height: 1.1;
}
.fs_xlarge {
  font-size: var(--font-xlarge);
  line-height: 1.1;
}
.fs_xxlarge {
  font-size: var(--font-xxlarge);
  line-height: 1;
}
.fs_3xlarge {
  font-size: var(--font-3xlarge);
  line-height: 1;
}
.fs_largest {
  font-size: var(--font-largest);
  line-height: 1;
}
/* ?end of Typography */
/* ?Video Interaction on Hero */
#entry-video {
  width: 100%;
  max-height: 100vh;
  object-fit: cover;
}
.button-prev:hover,
.button-next:hover {
  color: var(--color-secondary);
}
.button-prev,
.button-next {
  position: absolute;
  color: var(--color-primary);
  background: none;
  border: none;
  z-index: 10;
  transform: translateY(-50%);
  transition: color 200ms ease-in-out;
  cursor: pointer;
  transform: translateY(-50%);
}
.button-next {
  inset: 50vh 1rem auto auto;
}
.button-prev {
  inset: 50vh auto auto 1rem;
}
/* ?End of Video Interaction on Hero */

/* ?Hero Section */
.button-enter {
  position: absolute;
  inset: auto 50% 10vh auto;
  transform: translateX(50%);
  padding: 1rem 3rem;
}
/* ?End of Hero Section */

/* ? beginning of footer */

footer {
  text-align: center;
}
.footer-logo img {
  width: 200px;
  height: 200px;
}
#footer-nav-bar a {
  margin-left: 4%;
  margin-right: 4%;
}

#footer-location {
  margin-top: 2%;
  margin-bottom: 2%;
}
#footer-address {
  font-size: var(--font-small);
}
#footer-cvr {
  font-size: var(--font-xsmall);
}
#footer-SoMe {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
}
.footer-SoMe-container {
  display: flex;
  gap: 1rem;
  justify-items: center;
  align-items: center;
  margin: 1em;
}
.footer-SoMe-container img {
  width: 2em;
}

@media screen and (max-width: 425px) {
  #footer-mobile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
  .footer-logo img {
    width: 20%;
    height: 20%;
  }

  #footer-nav-bar {
    display: grid;
    justify-items: start;
  }
  #footer-nav-bar a {
    margin: 0.5em;
  }
  #footer-SoMe {
    margin: 0;
  }
}
/* ?end of footer */

/* ?BEGINNING OF NAVBAR */

#navbar-section {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 1000;
}

#navbar-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-large);
}

.logo {
  max-width: 100px;
  min-width: 80px;
  width: 10vw;
  margin: var(--spacing-small);
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: var(--spacing-xxlarge);
}

#navbar a {
  text-decoration: none;
  color: #fff;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-start;
  width: 5rem;
  height: 10rem;
  cursor: pointer;
}

.menu-btn-burger {
  width: 3.1rem;
  height: 0.4rem;
  background: #fff;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
  content: "";
  position: absolute;
  width: 3.1rem;
  height: 0.4rem;
  background: #fff;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before {
  transform: translateY(-1rem);
}

.menu-btn-burger::after {
  transform: translateY(1rem);
}

/* menu button animation */
.menu-btn.open .menu-btn-burger {
  background: transparent;
}
.menu-btn.open .menu-btn-burger::before {
  transform: rotate(45deg);
}
.menu-btn.open .menu-btn-burger::after {
  transform: rotate(-45deg);
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

@media screen and (max-width: 1050px) {
  #navbar-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-small);
  }

  .logo {
    max-width: 100px;
    min-width: 60px;
    width: 10vw;
    margin: var(--spacing-small);
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: var(--spacing-xlarge);
  }
}

@media screen and (max-width: 700px) {
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: var(--spacing-large);
  }
}

@media screen and (max-width: 600px) {
  #navbar-section .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--spacing-small);
    transform: translateY(20%);
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    list-style: none;
    gap: var(--spacing-large);
  }

  .logo {
    transform: translateY(-50%);
  }

  .menu-btn {
    height: 2.2rem;
  }
}

/* ?END OF NAVBAR */
/* ?Beginning of sign-up form */
.signupContainer {
  display: grid;
  grid-template-columns: 12fr;
  column-gap: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.ctaHeader {
  color: #d5ff2c;
  font-size: var(--font-xxlarge);
  font-family: "Clash Grotesk", sans-serif;
  font-weight: 600;
}
.ctaBody {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: var(--color-secondary);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.signupForm-content {
  margin-top: 1.5em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  padding-bottom: 1.5em;
}
.signupForm {
  grid-column: 1 / 7;
  height: fit-content;
  background-color: #000;
  border: solid 4px #d5ff2c;
}
.signupForm input {
  margin-bottom: 5%;
  height: 3rem;
  width: 100%;
  border: solid 3px #d5ff2c;
  font-family: "Poppins", sans-serif;
}
.emailFlex {
  display: flex;
  flex-direction: column;
}
/* #signupBtn {
  background-color: #d40000;
  color: #fff;
} */
.signupImage {
  display: none;
  height: 100%;
  max-width: 100%;
  grid-column: 7 / 12;
}
@media only screen and (min-width: 485px) {
  .signupForm input {
    width: 100%;
  }
  /*   #signupBtn {
    width: 40%;
    justify-items: flex-end;
  }
  .emailFlex {
    display: flex;
    flex-direction: row;
    gap: 1em;
  } */
}
@media only screen and (min-width: 799px) {
  .signupImage {
    display: block;
  }
}
/* ?End of sign-up form  */
/* ?Exhibition-slider */
.cards-wrapper {
  padding: 1rem;
  height: 50vh;
}
.cards {
  width: 100%;
  height: 100%;
  position: relative;
}
.card {
  border: 1px solid black;
  position: absolute;
  top: 50%;
  aspect-ratio: 7/8;
  transform: translateY(-50%);
  transition: transform 200ms var(--animation-easing),
    box-shadow 200ms var(--animation-easing), left 200ms var(--animation-easing),
    width 200ms var(--animation-easing), z-index 100ms var(--animation-easing);
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.--card-0 {
  width: calc((var(--main-card-width) * 2));
  z-index: 2;
  left: 0;
}
.--card-1 {
  width: calc(var(--main-card-width) * 3);
  z-index: 3;
  left: calc(var(--main-card-width));
}
.--card-2 {
  width: calc(var(--main-card-width) * 2);
  left: calc(var(--main-card-width) * 3);
  z-index: 2;
}
.--card-3 {
  width: calc(var(--main-card-width) * 1);
  right: 0;
  z-index: 1;
}
.--card-4,
.--card-5,
.--card-6 {
  display: none;
}

@media only screen and (min-width: 800px) {
  .cards-wrapper {
    padding: 4rem;
    height: 60vw;
  }
  .cards {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .card {
    border: 1px solid black;
    position: absolute;
    top: 50%;
    right: auto;
    display: block;
    perspective: 1000px;
    transform: translateY(-50%) scale(1) rotateY(0deg);

    cursor: pointer;
  }
  .card:hover {
    transform: translateY(-50%) scale(1.02) rotateY(30deg);
    box-shadow: 0px 5px 7px rgba(255, 0, 0, 0.1),
      0px 15px 25px rgba(255, 0, 0, 0.025), 0px 35px 30px rgba(255, 0, 0, 0.015);
  }
  .--card-0 {
    width: calc((var(--main-card-width) * 3));
    z-index: 3;
    left: 0;
  }
  .--card-1 {
    width: calc(var(--main-card-width) * 4);
    z-index: 4;
    left: calc(var(--main-card-width) * 1.5);
  }
  .--card-2 {
    width: calc(var(--main-card-width) * 5);
    left: calc(var(--main-card-width) * 3.5);
    z-index: 5;
  }
  .--card-3 {
    width: calc(var(--main-card-width) * 4);
    left: calc(var(--main-card-width) * 6.5);
    z-index: 4;
  }
  .--card-4 {
    width: calc((var(--main-card-width) * 3));
    left: calc(var(--main-card-width) * 9);
    z-index: 3;
  }
  .--card-5 {
    width: calc(var(--main-card-width) * 2);
    left: calc(var(--main-card-width) * 11);
    z-index: 2;
  }
  .--card-6 {
    width: calc(var(--main-card-width));
    right: 0;
    z-index: 1;
  }
}

/* ?End of exhibition slider */
/* ?Utilities */
.--display-none {
  display: none;
}
/* ?End of utilities */
/* beginning of single artwork page  */

#title_single_art {
  text-align: center;
  margin: 1em;
  font-family: "Clash Grotesk", sans-serif;
}
#image_single_art {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
#artists_name_single_art {
  margin-left: 10%;
  margin-top: 1em;
  font-family: "Clash Grotesk", sans-serif;
}
#origin_single_art {
  margin-left: 10%;
  margin-bottom: 2em;
  font-family: "Poppins", sans-serif;
}
#text_single_art {
  margin-left: 10%;
  margin-right: 10%;
  font-family: "Poppins", sans-serif;
}
#price_single_art {
  margin-left: 10%;
  margin-top: 1em;
  font-family: "Clash Grotesk", sans-serif;
  font-weight: 600;
}
#spec_single_art {
  margin-left: 10%;
  margin-top: 1em;
  font-family: "Poppins", sans-serif;
}
@media screen and (min-width: 768px) {
  .container_1_single_art {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 5%;
    margin-right: 5%;
  }
  #artists_name_single_art {
    margin-top: 0;
  }
  .image_single_art {
    width: 100%;
  }
  #image_single_art {
    width: 100%;
  }
  #title_single_art {
    text-align: left;
    margin-left: 5%;
  }
}
/* end of single artwork page  */
/* ? beginning of contact page */
#title_contact {
  text-align: center;
  font-family: "Clash Grotesk", sans-serif;
  color: #dd3123;
}
.container_1_contact {
  margin: 10%;
}
.container_1_contact p {
  font-family: "Poppins", sans-serif;
  margin-top: 0.5em;
}
.container_1_contact #text {
  margin-top: 1em;
}
.container_1_contact h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
#container_news_contact {
  border: solid #dd3123 4px;
  /* background-color; */
  margin: 10%;
}
#container_news_contact h1 {
  margin: 10%;
  text-align: center;
  font-family: "Clash Grotesk", sans-serif;
  font-weight: 600;
}
#container_news_contact p {
  margin: 10%;
  font-family: "Poppins", sans-serif;
}
#fake_news_contact {
  display: block;
  border: solid #000 4px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 10%;
  margin-right: 10%;
}
#map_contact {
  margin: 10%;
}
#map_contact h3 {
  font-family: "Clash Grotesk", sans-serif;
  font-weight: 600;
  margin-bottom: 10%;
}
@media screen and (min-width: 768px) {
  #map_contact {
    display: flex;
    align-items: center;
  }
}
/* ***Beginning of sign-up form ****** */
.signupContainer {
  display: grid;
  grid-template-columns: 12fr;
  column-gap: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.ctaHeader {
  color: #dd3123;
  font-size: var(--font-xxlarge);
  font-family: "Clash Grotesk", sans-serif;
  font-weight: 600;
}
.ctaBody {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: var(--color-secondary);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.signupForm-content {
  margin-top: 1.5em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  padding-bottom: 1.5em;
}
.signupForm {
  grid-column: 1 / 7;
  height: fit-content;
  background-color: #000;
  border: solid 4px #dd3123;
}
.signupForm input {
  margin-bottom: 5%;
  height: 3rem;
  width: 100%;
  border: solid 3px #dd3123;
  font-family: "Poppins", sans-serif;
}
.container-button-contact {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
.button-contact {
  position: relative;
  /* inset: auto 50% 10vh auto; */
  /* transform: translateX(50%); */
  padding: 1rem 3rem;
  margin: auto;
  background-color: #dd3123;
  font-family: var(--font-family_secondary);
  font-size: var(--font-large);
  font-weight: 800;
  text-transform: uppercase;
  color: var(--color-secondary);
  text-shadow: 3px 3px 0px var(--color-primary);
  -webkit-text-stroke: 1px var(--color-primary);
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 300ms var(--animation-easing);
}
.button-contact:hover {
  --color-red: #a92519;
}
.emailFlex {
  display: flex;
  flex-direction: column;
}
.signupImage {
  display: none;
  height: 100%;
  max-width: 100%;
  grid-column: 7 / 12;
}
#signupBtn {
  background-image: url("/media/signUpBtn-01.svg");
  background-repeat: no-repeat;
  width: 50%;
  height: 10%;
  cursor: pointer;
  display: block;
}
@media only screen and (min-width: 485px) {
  .signupForm input {
    width: 100%;
  }
  /*   #signupBtn {
    width: 40%;
    justify-items: flex-end;
  }
  .emailFlex {
    display: flex;
    flex-direction: row;
    gap: 1em;
  } */
}
@media only screen and (min-width: 799px) {
  .signupImage {
    display: block;
  }
}
/* End of sign-up form  */
/* ? end of contact page */
